header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 600px;
    top: 0;
    left: 0;
    z-index: 0;
}
h1 {
    font-size: 80px;
    z-index: 99;
    color: white;
    font-family: "beaufort";
    font-style: italic;
    text-shadow: 0px 0px 15px #000000;
    animation-duration: 1.5s;
    animation-name: textspawn;
    position: absolute;
}

@keyframes textspawn {
    0% {
        clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
    }
    100% {
        clip-path: polygon(0% 0%, 200% 0%, 0% 200%);
    }
}
#filters{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: 2em;
    border: #C1C1C1 1px solid ;
}

#filterClass{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 35%;
    color: #C1C1C1;
    margin: 0;
}
#filterClass li{
    cursor: pointer;
}
.filterClassSelected{
    color: black;
    border-bottom: solid black 1px;
}
#filterClass li:hover{
    color: black;
    border-bottom: solid black 1px;
    transition: 1s;
}

.difficult{
    width: 30px;
    height: 10px;
    margin: 0.5em 0;
    clip-path: polygon(20% 0%, 100% 0, 80% 100%, 0% 100%);
    background-color: #08D6F6;
}
.difficult-dark{
    background-color: #CEF7FD;
}
